html {
  touch-action: none;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  touch-action: none;
}

#workspace {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(226, 226, 226);
  overflow: hidden;
}

.target {
  position: absolute;
  border: 1px solid black;
  background-color: red;
  box-sizing: border-box;
}

#selectDiv {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 1px dashed gray;
  background-color: #aaa;
  z-index: 1000;
  opacity: 0.6;
  display: none;
}
